/* styles.css */
.message-bubble-envoi {
    -fx-background-color: #E3BDFF; /* Couleur de fond de la bulle */
    -fx-padding: 10px;
    -fx-background-radius: 20px; /* Bords arrondis de la bulle */
}

.message-bubble-recu {
    -fx-background-color: #F7AF9D; /* Couleur de fond de la bulle */
    -fx-padding: 10px;
    -fx-background-radius: 20px; /* Bords arrondis de la bulle */
}

.event-bubble {
    -fx-text-fill: black;
    -fx-background-color: grey;
    -fx-padding: 5;
    -fx-pref-width: 350px;
    -fx-pref-height: 5px;
    -fx-border-radius:10px;
}